.container {
    width: 35rem;
    background-color: var(--white);
    border-radius: 0.25rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    z-index: 101;
    /* Garantir que o modal fique sobre o overlay */
}

.section {
    align-items: flex-start;
}

.section:not(:last-child) {
    width: 100%;
    margin-bottom: 2rem;
}

.flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sections {
    width: 100%;
    max-height: 30rem;
    overflow-y: auto;
    padding-right: 1rem;
}

/* Início: infoSection */
.infoSection {
    width: 100%;
}

.infoSection .titleAndIcon {
    background-color: var(--light-cyan);
    padding: 0.85rem;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.infoSection:hover .titleAndIcon {
    background-color: var(--cyan);
}

.infoSection:hover .titleAndIcon h3 {
    color: var(--white);
}

.infoSection:hover .titleAndIcon svg {
    color: var(--white);
}

.infoSection:not(:last-child) {
    margin-bottom: 0.2rem;
}

.content {
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    /* background-color: var(--light-cyan); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
}

.content label:not(:last-child) {
    margin-bottom: 0.4rem;
}

/* Fim: infoSection */


#xMarkButton svg {
    color: var(--gray);
}