.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 70%;
}

#searchRepublics {
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: flex-start;
    justify-self: flex-start;
}

.cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}