.container {
    width: 100%;
    border: 0.094px solid var(--gray-light);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.republicInfo {
    padding: 0rem 2rem;
    margin-bottom: 1rem;
}

.republicImgSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
    margin-top: 0.5rem;
    box-sizing: border-box;
}

.republicImg {
    width: 14rem;
}

.republicInfo label:not(.republicNameLabel, .republicValue) {
    color: var(--gray);
}

.republicNameLabel {
    color: var(--black-dark);
}

.iconLabel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.iconLabel svg {
    margin-right: 0.5rem;
    color: var(--gray);
}

.numMembers {
    margin-top: 0.35rem;
}

.description {
    margin-bottom: 0.35rem;
}

.descriptionLabel {
    max-width: 15.25rem;
    text-wrap: wrap;
}

.republicValue {
    color: var(--orange);
}
