.home {
    padding: 1rem 15rem;
}

.home .welcome-title {
    margin: 1rem 0rem;
}

.home .republics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    max-height: 30rem;
}

.home .section-title {
    margin-bottom: 0.5rem;
}

.home .section {
    margin-bottom: 2.5rem;
}

.home .search-bar {
    margin: 1rem 0;
}

.home .search-bar input {
    padding: 0.5rem;
    width: 80%;
    max-width: 400px;
    border: 1.5px solid var(--gray-light);
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 500;
}

.home .filter-container {
    width: 30rem;
    margin: 1rem 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
}

.home .filter-container label {
    color: var(--gray);
}

.home .filter-container input {
    width: 11.5rem;
}