.home {
    padding: 1rem 15rem;
}

.home .welcome-title {
    margin: 1rem 0rem;
}

.home .republics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.75rem;
    max-height: 30rem;
}

.home .section-title {
    margin-bottom: 0.5rem;
}

.home .section {
    margin-bottom: 2.5rem;
}

.home .search-bar {
    margin: 0.5rem 0;
}

.home .search-bar input {
    padding: 0.5rem;
    width: 36rem;
    max-width: 50%;
    border: 1.5px solid var(--gray-light);
    border-radius: 0.5rem;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 500;
}

.home .filter-section {
    margin: 1.5rem 0rem;
    padding: 1.5rem 2rem;
    max-width: auto;
    border: 1.5px solid var(--gray-light);
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.home .filter-container {
    width: 36rem;
    display: grid;
    grid-template-columns: auto 20rem;
    gap: none;
    align-items: center;
    justify-content: space-between;
}

.home .filter-rent {
    margin: 1em 0;
}

.home .filter-container label {
    color: var(--gray);
}

.home .filter-container input {
    width: 100%;
}