{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/cards/republic/republic_card.css' %}">

<div class="card user-republic-card">

    <img src="{% static 'img/big-republic-picture.svg' %}" alt="Imagem da república que o usuário mora.">

    <div class="basic-informations">

        <div>
            <h4 class="minor-subtitle">Nome do república</h4>
            <p class="legend">{{republic.name}}</p>
        </div>

        <div>
            <h4 class="minor-subtitle">Quantidade de membros</h4>
            <p class="legend">{{republic.qtd_members}} membros</p>
        </div>

        <div>
            <h4 for="gender" class="minor-subtitle">Gênero disponível</h4>
            <p class="legend">{{republic.gender}}</p>
        </div>

    </div>

    <div class="basic-informations div-address-administrator">

        <div>
            <h4 class="minor-subtitle">Endereço</h4>
            <p class="common-text">{{republic.address}}</p>
        </div>

        <div>
            <h4 for="username" class="minor-subtitle">Contato administrador</h4>
            <p class="legend">{{republic.cellphone}}</p>
        </div>

    </div>

    <div class="extra-informations">

        <div>
            <h4 class="minor-subtitle">Descrição</h4>

            <p class="commom-text" id="user-description">Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade.</p>
        </div>

        <a href="" class="link-navigation">
            <p class="minor-subtitle">Valor total dos itens: R$ {{republic.value}},00</p>
        </a>
    </div>

</div>