.member-card {
    border: 1.5px solid var(--gray-light);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: row;
    padding: 0.75rem 0.5rem;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.member-card .member-profile-img {
    width: 3.5rem;
    height: 3.5rem;
    border: 1.5px solid var(--gray-light);
    border-radius: 50%;
}

.member-card .infos {
    display: flex;
    flex-direction: column;
}

.member-card .infos label:not(:last-child) {
    margin-bottom: 0.2rem;
}

.member-card .infos .button-line {
    margin-top: 0.5rem;
}