.member-card {
    border: 1.5px solid var(--gray-light);
    border-radius: 0.75rem;
    padding: 0.75rem 0.7rem;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    column-gap: 0.75rem;
    align-items: center;
    box-sizing: border-box;
    position: relative; 
}

.member-card .member-profile-img {
    width: 3.5rem;
    height: 3.5rem;
    border: 1.5px solid var(--gray-light);
    border-radius: 50%;
}

.member-card .infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.member-card .info-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0.85rem;
    color: var(--gray); 
    cursor: pointer;
}

.member-card .info-icon:hover {
    color: var(--black-dark);
}

.member-card .infos label:not(:last-child) {
    margin-bottom: 0.2rem;
}

.member-card .infos .imgs-videos-button {
    margin-top: 0.2rem;
}

.member-card .label-value:not(:last-child) {
    margin-bottom: 0.35rem;
}