.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.main {
    margin: 2rem 18rem;
    overflow-y: auto;
    padding: 1rem;
}

.footer {
    background-color: var(--dark-gray);
    color: var(--gray);
    text-align: center;
    padding: 1rem;
}