.login_content {
    padding: 4rem;
    margin: 2rem 14rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-cyan);
}

.login_content .inputs {
    margin-bottom: 2em;
}

.login_content .inputs > :not(:last-child) {
    margin-bottom: 1rem;
}

.register_section {
    margin-top: 1rem;
}

.register_section .link {
    color: var(--gray);
}

.register_section .link:hover {
    color: var(--black);
}