.button {
    height: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple);
    box-sizing: border-box;
    border: none;
    border-radius: 0.25rem;
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s ease; /* Adiciona transição suave */
}

.button:hover {
    background-color: var(--cyan);
}
