.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.inputSection {
    width: 30%;
    height: 2rem;
    padding: 0rem 0.8rem;
    border-radius: 0.25rem;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: pointer;
}

.inputSection:hover {
    background-color: var(--light-cyan);
}

.inputSection:hover input::placeholder {
    color: var(--cyan);
}

.inputSection input {
    cursor: pointer;
}

.inputSection input {
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
}

.inputSection input::placeholder {
    color: var(--gray);
    font-size: 0.9rem;
    font-style: italic;
    opacity: 1;
}

.searchButtonIcon, .filterButtonIcon {
    margin-left: 0.2rem;
}

.searchButtonIcon:hover {
    background-color: var(--cyan);
}

.searchButtonIcon:hover button svg {
    color: var(--white);
}

.filterButtonIcon {
    background-color: var(--purple) !important;
}

.filterButtonIcon svg {
    color: var(--white) !important;
}

.filterButtonIcon:hover {
    background-color: var(--cyan) !important;
}