::-webkit-scrollbar {
    width: 8.5px;
    height: 8.5px;
}

::-webkit-scrollbar-track {
    background: transparent; /* Fundo transparente */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, var(--gray-light), var(--gray-light));
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--gray); 
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    /* Define o corpinho */
    background: var(--gray-light);
    /* Cor do fundo */
    border-radius: 5px;
    outline: none;
    opacity: 0.9;
    transition: opacity 0.2s;
}

input[type="range"]:hover {
    opacity: 1;
}

/* Estiliza a bolinha (thumb) do slider no Chrome, Safari e Edge */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: var(--orange);
    /* Define a cor da bolinha */
    border-radius: 50%;
    cursor: pointer;
}

/* Para Firefox */
input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: var(--orange);
    /* Define a cor da bolinha */
    border-radius: 50%;
    cursor: pointer;
}