:root {
    --black-dark: #434343;
    --gray: #999999;
    --gray-light: #CDCDCD;
    --brown: #A65858;
    --brown-light: #C1B886;
    --orange: #FF8063;
    --orange-yellow: #FFBF1A;
    --green: #7DD7A6;
    --yellow: #E2DE86;
    --red: #D78D7D;
  }