.two-columns {
    display: grid;
    grid-template-columns: 15% 85%;
}

.two-rows {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 0.5em;
}

.three-columns{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.5em;
}

#whatsapp {
    width: 15.813em;
}