@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root {
    --orange: #FF8063;
    --yellow: #FFBF1A;
    --gray: #999999;
    --light-gray: #CDCDCD;
    --brown: #A65858;
    --light-green: #C1B886;
    --black: #434343;
    --white: #ffffff;
    --less-white: #F9F9F9;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Quicksand', sans-serif;
    overflow-x: hidden;
}

.body-container {
    margin: 0em 15em;
}

.section {
    margin-bottom: 3.125em;
}

/* texts */

.title {
    font-weight: 700;
    font-size: 2em;
    color: var(--black);
    margin-top: 3.313em;
    margin-bottom: 2.313em;
}

.subtitle {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--brown);
    margin-bottom: 1.375em;
}

.orange-subtitle {
    font-weight: 700;
    font-size: 1.5em;
    color: var(--orange);
}

.minor-subtitle {
    font-weight: 700;
    font-size: 1.125em;
    color: var(--black);
}

.common-text {
    font-weight: 500;
    font-size: 0.875em;
    color: var(--black);
}

.legend {
    font-weight: 600;
    font-size: 1em;
    color: var(--black);
}

.link {
    font-weight: 300;
    font-size: 1em;
    text-decoration-line: underline;
    color: var(--black);
}

.orange-text {
    color: var(--orange);
}

.light-green-text {
    color: var(--light-green);
}

.gray-text {
    color: var(--gray);
}

/* forms */

.form {
    width: 100%;
    height: 100%;
}

.form .form-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form .form-content .label-inputs {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* inputs */

.input {
    height: 3.063em;
    background: var(--white);
    border: 0.188em solid var(--light-gray);
    border-radius: 0.625em;
    padding: 0em 0.5em;
}

.label-input-placeholder {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* links */

.header-navigation-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.header-navigation-link a {
    text-decoration: none;
    margin: 1em 4em;
}

.header-navigation-link a:hover h3 {
    color: var(--orange);
}

/* buttons */

.button {
    width: 27.375em;
    height: 3.813em;
    background: var(--white);
    border: 0.188em solid var(--light-gray);
    border-radius: 0.625em;
}

.button:hover {
    width: 27.375em;
    height: 3.813em;
    background: var(--orange);
    border: 0.188em solid var(--orange);
    border-radius: 0.625em;
    cursor: pointer;
}

.button:hover .minor-subtitle {
    color: var(--white);
}

.button-welcome {
    width: fit-content;
    height: fit-content;
    padding: 0.813em 1.094em;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 0.125em solid #FF8063;
    border-radius: 0.625em;
    cursor: pointer;
}

.button-welcome:hover, .button-welcome:hover label {
    cursor: pointer;
    background-color: #FF8063;
    color: #FFFFFF;
}

/* icons */

.icon14 {
    width: 0.875em;
    height: 0.875em;
}

.icon16 {
    width: 1em;
    height: 1em;
}

.icon18 {
    width: 1.125em;
    height: 1.125em;
}

.icon20 {
    width: 1.25em;
    height: 1.25em;
}

.icon22 {
    width: 1.375em;
    height: 1.375em;
}

.icon24 {
    width: 1.5em;
    height: 1.5em;
}

.icon32 {
    width: 2em;
    height: 2em;
}

/* usar card */

.user-card {
    width: fit-content;
    min-width: 51.938em;
    max-height: 16.188em;
    background: #FFFFFF;
    border: 0.188em solid #CDCDCD;
    border-radius: 1.25em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.card .basic-informations {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.card h4 {
    margin: 0em;
}

.card .extra-informations h4 {
    margin-bottom: 0.375em;
}

.card .extra-informations div {
    margin-bottom: 1.688em;
}

.card .basic-informations p,
.card .extra-informations p {
    margin: 0em;
}

.card .basic-informations div {
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: 0.938em;
}

#user-description {
    width: 20.063em;
    word-break: break-all;
}

.link-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.link-navigation p {
    color: var(--orange);
}

.user-name-gender {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-name-gender img {
    margin-left: 0.5em;
}

/* select */

.select {
    height: 3.125em;
    line-height: 3.125em;
    background: var(--white);
    border: 0.188em solid var(--light-gray);
    border-radius: 0.625em;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    clear: both;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: 500;
    font-size: 0.875em;
    line-height: 1.125em;
    color: var(--black);
    outline: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.select .option {
    cursor: pointer;
    font-weight: 500;
    line-height: 3.125em;
    min-height: 1.375em;
    list-style: none;
    outline: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-align: left;
}

.select:active {
    border-color: var(--light-gray);
}

/* tooltips */

.tooltip-content {
    margin: 0;
}

.tooltip-content .tooltip-text {
    width: 6em;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    padding: 0.5em 0;
    border-radius: 1.25em;
    position: absolute;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
}

.tooltip-content a {
    text-decoration: none;
    color: var(--black);
}

.tooltip-content:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}

/* Modals */
.div-modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-modal-content {
    background: #FFFFFF;
    border-radius: 1.25em;
    padding: 1.938em 2.313em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}