.subtitle {
    color: var(--brown);
}

.div-without-something {
    width: 74.313em;
    height: 33.125em;
    border: 0.094em dashed #CDCDCD;
    border-radius: 0.75em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img-icon-no-data {
    margin-bottom: 1.503em;
}

.div-subtitle-icon-add-republic {
    width: 14.438em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.div-subtitle-icon-add-republic .subtitle {
    margin: 0em;
}

.div-subtitle-icon-add-republic img {
    cursor: pointer;
}

.link-img-icon-add-republic {
    text-decoration: none;
}