#body-republic-information .body-container {
    display: flex;
    flex-direction: column;
}

.section-item-to-pay {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-item-to-pay .subtitle-item-to-pay {
    align-self: flex-start;
}

#button-request-entry {
    align-self: center;
}

/* Modal Request Sent */
#div-modal-request-sent .div-modal-content {
    width: 31.313em;
    height: 21.688em;
}