.div-search-bar {
    width: 38.188em;
    height: 3.25em;
    background: var(--white);
    border: 0.188em solid var(--light-gray);
    border-radius: 0.625em;
}

.div-search-bar-content {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-search {
    margin-right: 2.563em;
    margin-left: 1em;
}

.input-search-bar {
    width: 100%;
    border: none;
    outline: none;
}

.input-search-bar::placeholder {
    font-weight: 600;
    font-size: 1em;
    line-height: 1.25em;
    color: var(--gray);
}

.div-republic-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1.938em;
}

.div-republic-card {
    width: 24.563em;
    height: 25.875em;
    background: var(--white);
    border: 0.188em solid var(--light-gray);
    border-radius: 1.25em;
    display: grid;
    grid-template-rows: 0.5fr 1fr;
}

.link-republic-card {
    text-decoration: none;
}

.div-republic-content {
    height: 100%;
    padding: 0.875em 1.875em;
    padding-bottom: 3em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.div-name-value-republic {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 0.875em;
}

.div-name-republic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.div-number-members-gender-republic {
    display: flex;
    flex-direction: row;
}

.div-number-members-gender-republic .text-number-members {
    margin-right: 0.75em;
}

.div-icon-text-description {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.div-icon-text-description .icon-description {
    margin-right: 0.645em;
}