#body-see-items-pay .div-item-card {
    width: 21.625em;
    height: 13.313em;
    padding: 0.228em 2.019em 1.524em 2.007em;
    background: #FFFFFF;
    border: 0.188em solid #CDCDCD;
    border-radius: 1.25em;
}

#body-see-items-pay .div-img-basic-informations {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#body-see-items-pay .div-basic-informations {
    display: flex;
    flex-direction: column;
}