.text-about-section {
    width: 37.938em;
    height: fit-content;
    word-break: break-all;
}

.text-subtitle-section-about {
    margin-bottom: 3.75em;
}

#button-login {
    width: 8.5em;
    border: 0.125em solid #999999;
}

#button-login label {
    color: #999999;
}

#button-login:hover, #button-login:hover label {
    background-color: #999999;
    color: #FFFFFF;
}

.section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2.063em;
    margin-bottom: 5em;
}

.section-know-more {
    display: grid;
    grid-template-columns: 21.5em 47.688em;
    column-gap: 7.125em;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5em;
}

.section-services {
    display: grid;
    grid-template-columns: 26.438em 41.5em;
    column-gap: 5.375em;
    align-items: center;
    justify-content: space-between;
}

.img-first {
    align-self: flex-end;
    justify-self: flex-end;
}

.link-button {
    text-decoration: none;
}