.header {
    background-color: var(--primary-color);
    color: var(--white);
    text-align: center;
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 12rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.header h1 {
    color: var(--white);
    cursor: pointer;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav ul li:not(:last-child) {
    margin-right: 2rem;
}

.nav ul li a {
    color: var(--white);
    text-decoration: none;
}

.nav ul li a:hover {
    color: var(--cyan);
}

.profile_img {
    width: 2rem;
    height: 2rem;
    background-color: var(--light-gray);
    border-radius: 50%;
    border: 2px solid var(--white);
}

.profile_img:hover {
    border: 2px solid var(--cyan);
}