.header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem;
    text-align: center;
    background-color: var(--purple);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.4rem 12rem;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header h1 {
    color: var(--white);
    cursor: pointer;
}

.nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav ul li:not(:last-child) {
    margin-right: 2rem;
}

.nav ul li a {
    color: var(--white);
    text-decoration: none;
}

.nav ul li a:hover {
    color: var(--cyan);
}
