.container {
    width: 100%;
}

.section:not(:last-child) {
    margin: 2rem 0rem;
}

.subtitle {
    margin-bottom: 0.5rem;
}

.section .content {
    padding: 2rem;
    border-radius: 0.25rem;
    background-color: var(--light-gray);
    box-sizing: border-box;
}

.content .labelValue:not(:last-child) {
    margin-bottom: 0.5rem;
}

.colorCyan {
    color: var(--cyan);
    margin-bottom: 0.5rem;
}

#titleAndButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0rem;
}

/* Início da Seção: Informações de Localização */
#locationInfoContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#locationInfoContent .admContact {
    margin-bottom: 0.5rem;
}

#locationInfoContent .seeGoogleMapsButton {
    background-color: var(--cyan);
    font-size: 0.85rem;
    padding: 0.5rem 0.8rem;
    align-self: flex-start;
}

#locationInfoContent .seeGoogleMapsButton:hover {
    background-color: var(--purple);
}

/* Fim da Seção: Informações de Localização */


/* Início da Seção: Imagens dos Cômodos */
#imgsOfTheRooms {
    width: 100%;
    overflow: hidden;
}

/* Fim da Seção: Imagens dos Cômodos */


/* Início da Seção: Itens à Pagar */
#itemsToPayContent {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#itemsToPayContent .column:not(:last-child) {
    margin-right: 2rem;
}

.memberCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    overflow-y: auto;
    padding: 0.625rem;
}

/* Fim da Seção: Itens à Pagar */