.container {
    width: 30rem;
    background-color: var(--white);
    border-radius: 0.25rem;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    z-index: 101; /* Ensure the modal sits on top of the overlay */
}

.section {
    align-items: flex-start;
}

.section:not(:last-child) {
    width: 100%;
    margin-bottom: 2rem;
}

.flexRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.xMarkButton svg {
    color: var(--gray);
}

.section .flexRow > *:not(:last-child) {
    margin-right: 1rem;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}

.title {
    margin-bottom: 0.5rem;
}

.filterButton {
    align-self: flex-end;
}

.checkBoxGroup h3 {
    font-size: 0.875rem;
    font-weight: 700;
}