.div-payable-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.688em;
}

.div-payable-item {
    width: 21.625em;
    height: 9.438em;
    background: #FFFFFF;
    border: 0.188em solid #CDCDCD;
    border-radius: 1.25em;
    display: grid;
    grid-template-columns: 5em 1.563em 9.313em;
    align-items: center;
    justify-content: space-between;
    padding: 2em 1.875em;
    box-sizing: border-box;
}

.div-payable-item .div-basic-informations {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.div-basic-informations .text-label-account-name {
    margin-bottom: 0.5em;
}

.div-payable-item .div-basic-informations .text-account-value {
    margin-top: 0.875em;
}

.img-icon-info {
    align-self: flex-start;
    cursor: pointer;
}