.container {
    width: 100%;
}

.title {
    margin-bottom: 2rem;
}

.imageAndSaveButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.imageAndChangeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgUser {
    width: 6.5rem;
    height: 6.5rem;
    background-color: var(--gray);
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.imgUser img {
    width: 3rem;
}

.section:not(:last-child) {
    margin-bottom: 1rem;
}

.section h2 {
    background-color: var(--light-cyan);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.gridInputs {
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.gridInputs:not(:last-child) {
    margin-bottom: 1rem;
}