.labelTitle {
    cursor: pointer;
    font-weight: 700;
}

.labelTitle:hover{
    color: var(--cyan);
}

.option input, .option label {
    cursor: pointer;
}

.option:first-of-type {
    margin-top: 0.2rem;
}

.option:not(:last-child) {
    margin-bottom: 0.2rem;
}

.option:hover label {
    color: var(--cyan);
}