.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1.5rem 15rem;
}

.navbar .title {
    cursor: pointer;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar ul li a {
    color: var(--black-dark);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    /* Transições suaves para cor e sublinhado */
}

.navbar ul li a:hover {
    text-decoration: underline;
    color: var(--orange);
    /* Cor ao passar o mouse */
}

.navbar a {
    transition: color 0.3s ease;
    /* Transição suave para a cor do link */
}

.navbar a:hover {
    color: var(--orange);
    /* Cor do link ao passar o mouse */
}