.button-line {
    color: var(--orange);
    display: grid;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease;
}

.button-line:hover {
    color: var(--orange-yellow);
    transition: color 0.3s ease;
}

.button-line label, .button-line i {
    cursor: pointer;
}

.button-line label {
    margin-right: 0.5rem;
}

.button-line i {
    font-size: 0.85rem;
}