{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

    {% include 'partials/head.html' %}

    <link rel="stylesheet" href="{% static 'css/edit_profle.css' %}">
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="body-container">

        <form method="POST" action="{% url 'edit-profile' %}" class="form"> {% csrf_token %}

            <div class="form-content">

                <h1 class="title">Editar perfil</h1>

                <div class="section">

                    <h2 class="subtitle">Informações pessoais</h2>

                    <div class="two-columns">

                        <img src="{% static 'img/big-female-profile-picture.svg' %}"
                            alt="Imagem de perfil do usuário.">

                        <div class="two-rows">

                            <div class="three-columns">

                                <div class="label-input-placeholder">
                                    <label for="full_name" class="minor-subtitle">Nome completo</label>
                                    <input name="full_name" type="text" id="full_name"
                                        placeholder="{{user.username}}" class="input">
                                </div>

                                <div class="label-input-placeholder">
                                    <label for="age" class="minor-subtitle">Idade</label>
                                    <input name="age" type="text" id="age" placeholder="{{user.age}} anos" class="input">
                                </div>

                                <div class="label-input-placeholder">
                                    <label for="sex_selection" class="minor-subtitle">Qual é o seu sexo?</label>
                                    <select name="sex" id="sex_selection" class="select">
                                        <option class="option" value="female">Feminino</option>
                                        <option class="option" value="male">Masculino</option>
                                    </select>
                                </div>

                            </div>

                            <div class="label-input-placeholder">
                                <label for="whatsapp" class="minor-subtitle">Whatsapp</label>
                                <input name="cellphone" type="text" id="whatsapp" placeholder={% if user.cellphone == None %}"(12) 982173929" {% else %} {{user.cellphone}} {% endif %} class="input">
                            </div>

                        </div>

                    </div>

                </div>

                <div class="section">

                    <h2 class="subtitle">Informações gerais</h3>

                        <div class="two-rows">

                            <div class="three-columns">

                                <div class="label-input-placeholder">
                                    <label for="course" class="minor-subtitle">Qual curso você está cursando?</label>
                                    <input name="course" type="text" id="course" placeholder={% if user.course == None %}"Engenharia de Software"{% else %}{{user.course}}{% endif %} class="input">
                                </div>

                                <div class="label-input-placeholder">
                                    <label for="hobbie" class="minor-subtitle">Qual é o seu hobbie preferido?</label>
                                    <input name="hobbie" type="text" id="hobbie" placeholder={% if user.hobbie == None %}"Jogar bola"{% else %}{{user.hobbie}}{% endif %} class="input">
                                </div>

                                <div class="label-input-placeholder">
                                    <label for="which_do_you_prefer" class="minor-subtitle">Qual você prefere?</label>
                                    <select name="" id="which_do_you_prefer" class="select">
                                        <option class="option" value="female">Limpar o banheiro</option>
                                        <option class="option" value="male">Lavar a louça</option>
                                    </select>
                                </div>

                            </div>

                            <div class="three-columns">

                                <div class="label-input-placeholder">
                                    <label for="i_do_not_like" class="minor-subtitle">Eu não gosto de....</label>
                                    <input name="disgust" type="text" id="i_do_not_like" placeholder={% if user.disgust == None %}"Desorganização e cheiro de cigarro."{% else %}{{user.disgust}}{% endif %} class="input">
                                </div>

                            </div>

                        </div>

                </div>

                <button type="submit" id="save-edit-profile-button" class="button"><label class="minor-subtitle">Salvar</label></button>

            </div>

        </form>

    </div>

    {% include 'partials/footer.html' %}

</body>

</html>