{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>

    {% include 'partials/head.html' %}
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    <div class="header">

        <img src="{% static 'img/logo-simulator.svg' %}" alt="Imagem do logo, Unirep." class="logo-image">

        <div class="header-navigation-link">
            <a href=""><h3 class="minor-subtitle">Home</h3></a>
            <a href=""><h3 class="minor-subtitle">Repúblicas</h3></a>
            <a href=""><h3 class="minor-subtitle">Itens à pagar</h3></a>
        </div>

        <div class="username-icon">
            <h3 class="minor-subtitle">Username</h3>
            <a href=""><img class="icon32" src="{% static 'img/logout-icon.svg' %}" alt="Ícone de logout, ou seja, de sair da aplicação."></a>
        </div>

    </div>

    <div class="body-container">

        <h1 class="title">Home</h1>

        <div>

            <div class="section">

                <h2 class="subtitle">Meu perfil</h2>

                <div class="user-card card">

                    <img src="{% static 'img/big-female-profile-picture.svg' %}" alt="Imagem de perfil do usuário.">

                    <div class="basic-informations">

                        <div>
                            <h4 class="minor-subtitle">Nome do usuário</h4>
                            <p class="legend">Luana Caroliny</p>
                        </div>

                        <div>
                            <h4 class="minor-subtitle">Idade</h4>
                            <p class="legend">22 anos</p>
                        </div>

                        <div>
                            <h4 for="username" class="minor-subtitle">Whatsapp</h4>
                            <p class="legend">(12) 982173929</p>
                        </div>

                    </div>

                    <div class="extra-informations">

                        <div>
                            <h4 class="minor-subtitle">Descrição</h4>

                            <p class="commom-text" id="user-description">Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade.</p>
                        </div>

                        <a href="" class="link-navigation">
                            <p class="minor-subtitle">Editar meu perfil</p>
                            <img src="{% static 'img/arrow-orange-icon.svg' %}" alt="Seta laranja que aponta para a direita.">
                        </a>
                    </div>
                
                </div>

            </div>

            <div class="section">
                <h2 class="subtitle">Minha moradia</h2>
            
                <div class="user-republic-card card">

                    <img src="{% static 'img/big-republic-picture.svg' %}" alt="Imagem da república que o usuário mora.">

                    <div class="basic-informations">

                        <div>
                            <h4 class="minor-subtitle">Nome do república</h4>
                            <p class="legend">Mal te vejo</p>
                        </div>

                        <div>
                            <h4 class="minor-subtitle">Quantidade de membros</h4>
                            <p class="legend">4 membros</p>
                        </div>

                        <div>
                            <h4 for="username" class="minor-subtitle">Contato administrador</h4>
                            <p class="legend">(12) 982173929</p>
                        </div>

                    </div>

                    <div class="extra-informations">

                        <div>
                            <h4 class="minor-subtitle">Descrição</h4>

                            <p class="commom-text" id="user-description">Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade.</p>
                        </div>

                        <a href="" class="link-navigation">
                            <p class="minor-subtitle">Ver itens à pagar</p>
                            <img src="{% static 'img/arrow-orange-icon.svg' %}" alt="Seta laranja que aponta para a direita.">
                        </a>
                    </div>

                </div>
            </div>

            <div class="section">

                <h2 class="subtitle">Membros</h2>

                <div class="member-card">

                    <div>

                        <img src="{% static 'img/small-male-profile-picture.svg' %}" alt="Imagem do membro da república.">

                        <div class="basic-informations">
                            <label class="minor-subtitle">Nome do usuário</label>
                            <p class="legend">Luana Caroliny</p>
                        </div>

                    </div>        

                    <p class="commmon-text desciption">Eu gosto de jogar bola e odeio sentir cheiro de cigarro. Faço faculdade de ADS e amo programar. Faço faculdade de ADS e amo programar.</p>

                </div>

            </div>

        </div>

    </div>

    <div>

        <footer>Footer Unirep</footer>

    </div>
    
</body>
</html>