{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>

    {% include 'partials/head.html' %}
    
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>

    {% include 'partials/header.html' %}

    <div class="body-container">

        <h1 class="title">Home</h1>

        <div class="div-sections div-sections-home">

            <div class="section section-my-profile">

                <h2 class="subtitle">Meu perfil</h2>

                <div class="user-card card">

                    <img src="{% static 'img/big-female-profile-picture.svg' %}" alt="Imagem de perfil do usuário.">

                    <div class="basic-informations">

                        <div>
                            <h4 class="minor-subtitle">Nome do usuário</h4>

                            <div class="user-name-gender" style="margin: 0;">
                                <p class="legend">Luana Caroliny</p>

                                <div class="tooltip-content" style="margin: 0;">

                                    <a href="">
                                        <img class="icon18" src="{% static 'img/female-icon.svg' %}" alt="Imagem de ícone do gẽnero feminino.">
                                    </a>

                                    <span class="tooltip-text">feminino</span>

                                </div>

                            </div>
                            
                        </div>

                        <div>
                            <h4 class="minor-subtitle">Idade</h4>
                            <p class="legend">22 anos</p>
                        </div>

                        <div>
                            <h4 for="username" class="minor-subtitle">Whatsapp</h4>
                            <p class="legend">(12) 982173929</p>
                        </div>

                    </div>

                    <div class="extra-informations">

                        <div>
                            <h4 class="minor-subtitle">Descrição</h4>

                            <p class="commom-text" id="user-description">Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade.</p>
                        </div>

                        <a href="{% url 'edit-profile' %}" class="link-navigation">
                            <p class="minor-subtitle">Editar meu perfil</p>
                            <img src="{% static 'img/arrow-orange-icon.svg' %}" alt="Seta laranja que aponta para a direita.">
                        </a>
                    </div>
                
                </div>

            </div>

            <div class="section section-my-house">

                <h2 class="subtitle">Minha moradia</h2>
            
                {% include 'partials/cards/republic/republic_card.html' %}
                
            </div>

            <div class="section section-members">

                <h2 class="subtitle subtitle-members">Membros</h2>

                {% include 'partials/cards/member_carroussel_card.html' %}

            </div>

        </div>

    </div>

    <footer>Footer Unirep</footer>
</body>
</html>