{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

    {% include 'partials/head.html' %}

    <link rel="stylesheet" href="{% static 'css/republics.css' %}">
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="body-container">

        <h1 class="title">Repúblicas</h1>

        <section class="section section-search-bar">
            <div class="div-search-bar">

                <div class="div-search-bar-content">
                    <img class="icon-search" src="{% static 'img/icon-search.svg' %}" />

                    <input class="input input-search-bar" placeholder="Pesquise por uma república" />
                </div>

            </div>
        </section>

        <section class="section section-republics-available">
            <h2 class="subtitle">Repúblicas disponíveis</h2>

            <div class="div-republic-cards">

                {% for republic in republics %}

                <a href="{% url 'republic-information' %}" class="link-republic-card">
                    <div class="div-republic-card">

                        <img src="{% static 'img/republics/small-republic-picture.svg' %}" alt="Three houses icon" />

                        <div class="div-republic-content">

                            <div class="div-name-value-republic">

                                <div class="div-name-republic">
                                    <h3 class="minor-subtitle">Nome da república</h3>
                                    <h4 class="legend">{{republic.name}}</h4>
                                </div>

                                <h3 class="minor-subtitle orange-text">R$ {{republic.value}},00</h3>

                            </div>

                            <div class="div-number-members-gender-republic">
                                <h4 class="common-text text-number-members">{{republic.qtd_members}} membros</h4>
                                <h4 class="common-text text-gender-republic">{{republic.gender}}</h4>
                            </div>

                            <div class="div-icon-text-description">

                                <img class="icon-description" src="{% static 'img/icon-description.svg' %}"
                                    alt="Gray icon of a paper with something written on it" />

                                <p class="common-text">Descrição breve de como é ou qual é a essência da república.
                                    Descrição breve de como.</p>

                            </div>

                            <div class="div-address">
                                <h4 class="legend">Endereço</h4>
                                <p class="common-text">{{republic.address}}</p>
                            </div>

                        </div>

                    </div>
                </a>

                {% endfor %}

            </div>
        </section>

    </div>

    {% include 'partials/footer.html' %}

</body>

</html>