{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>

    {% include 'partials/head.html' %}

    <link rel="stylesheet" href="{% static 'css/republic_information.css' %}">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body id="body-republic-information">

    {% include 'partials/header.html' %}

    <div class="body-container">

        <h1 class="title" id="title">República</h1>

        <section class="section section-republic-information">

            <h2 class="subtitle">Informações gerais</h2>

            {% include 'partials/cards/republic/republic_card_2.html' %}

        </section>

        <section class="section section-members">

            <h2 class="subtitle subtitle-members">Informações dos membros</h2>

            {% include 'partials/cards/member_carroussel_card.html' %}
            
        </section>

        <section class="section section-item-to-pay">

            <h2 class="subtitle subtitle-item-to-pay">Informações dos itens à pagar</h2>

            {% include 'partials/cards/view_item_carroussel_card.html' %}
            
        </section>

        <button id="button-request-entry" class="button"><label class="minor-subtitle">Solicitar Entrada</label></button>

        <!-- Modal Request Sent -->
        <div id="div-modal-request-sent" class="div-modal">
            <div class="div-modal-content">
                <h2 class="subtitle orange-text">Sucesso!</h2>

                <h3 class="minor-subtitle">Sua solicitação foi enviada com sucesso.</h3>

                <h4 class="legend">Em breve terá o retorno do administrador.</h4>

                <button id="button-modal-ok" class="button"><label class="minor-subtitle">Ok</label></button>
            </div>
        </div>

    </div>

    {% include 'partials/footer.html' %}

    <script>

        // All varibales        
        let button_request_entry   = document.getElementById('button-request-entry')
        let div_modal_request_sent = document.getElementById('div-modal-request-sent')
        let button_modal_ok        = document.getElementById('button-modal-ok')


        button_request_entry.onclick = function(e) {
            $.ajax({
                url: "{% url 'request-sent' republic.id %}",
                success: function(response) {
                    console.log(response);
                    div_modal_request_sent.style.display = 'flex'
                },
                error: function(xhr) {
                    console.error(xhr.responseText);
                }
            });
        }

        button_modal_ok.onclick = function() {
            div_modal_request_sent.style.display = 'none'
        }

        window.onclick = function(e) {
            if (e.target == div_modal_request_sent) {
                div_modal_request_sent.style.display = "none";
            }
        }

    </script>
</body>
</html>