{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

    {% include 'partials/head.html' %}

    <link rel="stylesheet" href="{% static 'css/edit_profle.css' %}">

    <link rel="stylesheet" href="{% static 'css/see_items_pay.css' %}">
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="body-container" id="body-see-items-pay">

        <h1 class="title">Itens à pagar</h1>

        <div class="section">

            <h2 class="subtitle">Informações da república</h2>

            <div class="user-republic-card card">

                <img src="{% static 'img/big-republic-picture.svg' %}" alt="Imagem da república que o usuário mora.">

                <div class="basic-informations">

                    <div>
                        <h4 class="minor-subtitle">Nome do república</h4>
                        <p class="legend">Mal te vejo</p>
                    </div>

                    <div>
                        <h4 class="minor-subtitle">Quantidade de membros</h4>
                        <p class="legend">4 membros</p>
                    </div>

                    <div>
                        <h4 for="username" class="minor-subtitle">Contato administrador</h4>
                        <p class="legend">(12) 982173929</p>
                    </div>

                </div>

                <div class="basic-informations" id="address-informations">

                    <div>
                        <h4 class="minor-subtitle">Endereço</h4>
                        <p class="legend">Rua Antonio Amaral Santos, n.137. </p>
                    </div>

                    <div>
                        <h4 class="minor-subtitle">Bairro</h4>
                        <p class="legend">Residencial Jatobá. </p>
                    </div>

                    <div>
                        <h4 for="username" class="minor-subtitle">Cidade</h4>
                        <p class="legend">São José dos Campos/SP</p>
                    </div>

                </div>

                <div class="extra-informations">

                    <div>
                        <h4 class="minor-subtitle">Descrição</h4>

                        <p class="commom-text" id="user-description">Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade. Descrição curta do perfil do usuário falando da sua personalidade.</p>
                    </div>

                    <p class="minor-subtitle orange-text">Valor total dos itens: R$ 400,00</p>

                </div>

            </div>

        </div>

        <div class="section section-item-to-pay">

            <h2 class="subtitle subtitle-item-to-pay">Informações dos itens à pagar</h2>

            <div class="div-item-cards">

                <div class="div-item-card">

                    <div class="div-img-basic-informations">

                        <div class="div-image-basic-informations">

                            <div class="div-imgs-item-card-download">

                                <a href="" class="link-icon-download"><img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" /></a>
                                <a href="" class="link-icon-download"><img class="icon24 icon-download" src="{% static 'img/icon-download.svg' %}" /></a>

                            </div>
    
                            <div class="div-basic-informations-value">

                                <div class="div-basic-informations">
                                    <h4 class="minor-subtitle account-name-text">Nome da conta</h4>
                                    <h5 class="legend">Aluguel</h5>
                                </div>
        
                                <h5 class="legend">Valor: R$ 150,00</h5>

                            </div>

                        </div>

                        <div class="div-maturity-status-informations">

                            <h5 class="legend gray-text maturity-text">Vencimento em: 12/12/2023</h5>
                            <h5 class="legend gray-text status-text">Status: Pago</h5>

                        </div>
                        
                    </div>

                </div>

                <div class="div-item-card">

                    <div class="div-img-basic-informations">

                        <div class="div-image-basic-informations">

                            <div class="div-imgs-item-card-download">

                                <a href="" class="link-icon-download"><img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" /></a>
                                <a href="" class="link-icon-download"><img class="icon24 icon-download" src="{% static 'img/icon-download.svg' %}" /></a>

                            </div>
    
                            <div class="div-basic-informations-value">

                                <div class="div-basic-informations">
                                    <h4 class="minor-subtitle account-name-text">Nome da conta</h4>
                                    <h5 class="legend">Aluguel</h5>
                                </div>
        
                                <h5 class="legend">Valor: R$ 150,00</h5>

                            </div>

                        </div>

                        <div class="div-maturity-status-informations">

                            <h5 class="legend gray-text maturity-text">Vencimento em: 12/12/2023</h5>
                            <h5 class="legend gray-text status-text">Status: Pago</h5>

                        </div>
                        
                    </div>

                </div>

                <div class="div-item-card">

                    <div class="div-img-basic-informations">

                        <div class="div-image-basic-informations">

                            <div class="div-imgs-item-card-download">

                                <a href="" class="link-icon-download"><img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" /></a>
                                <a href="" class="link-icon-download"><img class="icon24 icon-download" src="{% static 'img/icon-download.svg' %}" /></a>

                            </div>
    
                            <div class="div-basic-informations-value">

                                <div class="div-basic-informations">
                                    <h4 class="minor-subtitle account-name-text">Nome da conta</h4>
                                    <h5 class="legend">Aluguel</h5>
                                </div>
        
                                <h5 class="legend">Valor: R$ 150,00</h5>

                            </div>

                        </div>

                        <div class="div-maturity-status-informations">

                            <h5 class="legend gray-text maturity-text">Vencimento em: 12/12/2023</h5>
                            <h5 class="legend gray-text status-text">Status: Pago</h5>

                        </div>
                        
                    </div>

                </div>

            </div>

            {% include 'partials/pagination.html' %}

        </div>

    </div>

</body>

</html>