{% load static %}
<!DOCTYPE html>
<html lang="pt">

<head>

    {% include 'partials/head.html' %}

    <link rel="stylesheet" href="{% static 'css/edit_profle.css' %}">

    <link rel="stylesheet" href="{% static 'css/see_items_pay.css' %}">
</head>

<body>

    {% include 'partials/header.html' %}

    <div class="body-container" id="body-see-items-pay">

        <h1 class="title">Itens à pagar</h1>

        <div class="section">

            <h2 class="subtitle">Informações da república</h2>

            {% include 'partials/cards/republic/republic_card_2.html' %}

        </div>

        <div class="section section-item-to-pay">

            <h2 class="subtitle subtitle-item-to-pay">Informações dos itens à pagar</h2>

            {% include 'partials/cards/item_carroussel_card.html' %}

        </div>

    </div>

    {% include 'partials/footer.html' %}

</body>

</html>