.icon-label_button {
    padding: 0.35rem;
    border-radius: 0.5rem;
    background-color: var(--cyan);
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon-label_button .label {
    color: var(--white);
    cursor: pointer;
}

.icon-label_button:hover {
    background-color: var(--purple);
}