.bills-section {
    margin-bottom: 2rem;
}

.bills-section h3 {
    margin-bottom: 0.5rem;
}

.bills-section .bill-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem !important;
}