.register {
    padding: 1rem 15rem;
    display: flex;
    flex-direction: column;
}

.register .title {
    margin: 1rem 0rem;
}

.register .content {
    align-self: center;
    width: 40rem;
    border: 1.5px solid var(--gray-light);
    border-radius: 0.75rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.register .content form {
    width: 100%;
    height: 100%;
}

.register .content form div:not(:last-child) {
    margin-bottom: 1rem;
}

.register .label-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register .label-input label {
    margin-bottom: 0.3rem;
    transition: color 0.3s ease; /* Adicionando transição para a mudança de cor */
}

.register .label-input:hover label {
    color: var(--orange); /* Muda a cor da label ao passar o mouse */
}

.register .label-input input {
    width: 100%;
    border: 1.5px solid var(--gray-light);
    border-radius: 0.5rem;
    padding-left: 0.5rem;
    height: 2rem;
    box-sizing: border-box;
    font-size: 0.85rem;
    font-weight: 500;
    transition: border-color 0.3s ease; /* Adiciona uma transição para a borda e sombra */
}

.register .label-input input:focus {
    border-color: var(--orange); /* Mudança na borda ao focar no input */
}

.register .label-input:hover input {
    border-color: var(--orange); /* Muda a cor da borda ao passar o mouse */
}

.register .link {
    text-decoration: none;
}

/* Adicionando efeitos de foco e hover em todos os inputs dentro do form */
.register input:focus,
.register input:hover {
    outline: none;
}
