.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.625em 7.625em;
    box-shadow: 0px 0.25em 0.25em rgba(0, 0, 0, 0.25);
}

.header .username-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .username-icon a:hover img {
    content: url('../img/logout-icon-orange.svg');
}

.header .username-icon img {
    margin-left: 2em;
}