.container {
    width: 19.587rem;
    border: 0.094rem solid var(--gray-light);
    border-radius: 0.75rem;
    padding: 1.875rem 1.5rem;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.imgNameUser {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.4rem;
}

.profileImg {
    width: 3.369rem;
    margin-right: 0.3rem;
}