.chip_container {
    width: fit-content;
    border-radius: 6.25rem;
    padding: 0.5rem 0.8rem;
    background-color: var(--light-gray);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Sizes */
.small {
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
}

.small label {
    font-size: 0.75rem;
}

.medium {
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.medium label {
    font-size: 1rem;
}

.large {
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
}

.large label {
    font-size: 1.2rem;
}

.fontawesome-icon {
    color: var(--gray);
    margin-right: 0.4rem;
}