{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/header.css' %}">

<div class="header">

    <img src="{% static 'img/logo-simulator.svg' %}" alt="Imagem do logo, Unirep." class="logo-image">

    <div class="header-navigation-link">
        <a href="{% url 'home' %}"><h3 class="minor-subtitle">Home</h3></a>
        <a href="{% url 'republics' %}"><h3 class="minor-subtitle">Repúblicas</h3></a>
        <a href="{% url 'see-items-pay' %}"><h3 class="minor-subtitle">Itens à pagar</h3></a>
    </div>

    <div class="username-icon">
        <h3 class="minor-subtitle">Username</h3>

        <div class="tooltip-content" style="margin: 0;">

            <a href="{% url 'login' %}"><img class="icon32" src="{% static 'img/logout-icon.svg' %}" alt="Ícone de logout, ou seja, de sair da aplicação."></a>

            <span class="tooltip-text">sair</span>

        </div>

    </div>

</div>