.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userEditImg {
    position: relative;
    display: inline-block;
}

.userEditImg img {
    display: block;
    width: 100%; 
}

#editButton {
    position: absolute;
    bottom: -5px; 
    right: -5px; 
    background-color: white; 
    border: 0.5px solid var(--black-dark); 
    padding: 5px; 
    border-radius: 50%; 
}

.form {
    width: 70%;
    display: grid;
    row-gap: 1rem;
    margin-bottom: 2rem;
}

.nameAge, .emailWhats {
    display: grid;
    grid-template-columns: 1fr 0.5fr;
    column-gap: 1rem;
}

.courseHobbie {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}