.button {
    border: none;
    background-color: transparent;
    color: var(--black-dark);
    padding: 0rem;
    cursor: pointer;
}

.button label {
    cursor: pointer;
}

/* Icon Button */

.iconButton {
    align-items: center;
    justify-content: center;
}

.icon {
    font-size: 1.2rem;
}

.iconButton:hover .icon {
    color: var(--orange);
}

/* Navigation Button */

.navigationButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigationButton:hover, .navigationButton:hover label, .navigationButton:hover svg {
    color: var(--orange-yellow);
}

.navigationButton, .navigationButton label, .navigationButton svg {
    color: var(--orange);
    cursor: pointer;
}

/* Label Button */

.labelButton {
    border: 2px solid var(--black-dark);
    border-radius: 0.625rem;
    padding: 0.75rem 1rem;
    box-sizing: border-box;
}

.labelButton:hover, .labelButton:hover label {
    border: 2px solid var(--orange);
    background-color: var(--orange);
    color: white;
}