# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
.env

# IDEs
.vscode/
.idea/

# Coverage
.coverage
htmlcov/

# Test
.test/
*.cover

# Migrations
*/migrations/*.py
*/migrations/*.pyc

# Local configuration files
local_settings.py

# Banco de Dados
db.sqlite3