.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    position: relative;
    margin: auto;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    max-width: 500px;
}

.carousel-img {
    width: 25%; /* 100% / 4 imagens = 25% */
    max-width: 125px; /* Define um tamanho fixo para manter a responsividade */
    height: auto;
    border-radius: 8px;
    margin: 0 5px;
    transition: transform 0.3s ease-in-out;
}

.carousel-btn {
    width: 32px; /* Tamanho menor */
    height: 32px; /* Tamanho menor */
    padding: 5px;
}

.carousel-btn.left {
    left: 5px;
}

.carousel-btn.right {
    right: 5px;
}

.carousel-btn:hover {
    color: var(--orange);
}
