.republic-section {
    margin-bottom: 1rem;
}

.republic-section h3 {
    margin-bottom: 0.5rem;
}

.republic-section .content {
    padding: 0.5rem;
    border: 1.5px solid var(--gray-light);
    border-radius: 0.75rem;
    display: grid;
    grid-template-columns: 0.3fr 0.5fr 0.3fr 0.5fr;
    align-items: center;
    column-gap: 0.75rem;
}

.republic-section .republic-img {
    width: 12rem;
}

.republic-section .basic-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.republic-section .basic-infos label:not(:last-child) {
    margin-bottom: 0.3rem;
}