.republic-details_container {

}

.republic-details_container .content {
    margin-top: 2rem;
}

.republic-details_container .section {
    margin-bottom: 3rem;
}

.republic-details_container .section h2 {
    margin-bottom: 0.5rem;
}

.labels-values_grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 2rem;
}

.members_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
}