.republic-details {
    padding: 1rem 15rem;
}

.republic-details h2 {
    margin: 1rem 0rem;
}

.republic-details .members-section h3 {
    margin-bottom: 0.5rem;
}

.republic-details .members-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0rem 1rem;
}