.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1rem; /* Ajuste a margem conforme necessário */
}

.cards {
    display: grid;
    padding: 0.5rem 0rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    flex-grow: 1; /* Permite que as cartas ocupem o espaço restante */
    overflow-y: auto; /* Adiciona scroll se necessário */
    overflow-x: hidden;
}

.search {
    margin: 2rem 0;
}

.noDataWrapper {
    grid-column: span 4; /* Faz com que o NoData ocupe toda a largura do grid */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    height: 100%; /* Opcional, para garantir que ocupe altura total */
}