.container {
    width: 100%;
}

.title {
    margin-bottom: 2rem;
}

.imageAndSaveButton {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.imageAndChangeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.imgUser img {
    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;
    border: 1.6px solid var(--cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

.labelInputCheckBox {
    display: flex;
}

.labelInputCheckBox label {
    cursor: pointer;
    height: 100%;
    align-self: center;
    justify-self: center;
}