.user-republic-card {
    width: fit-content;
    min-width: 74.813em;
    max-height: 16.188em;
    background: var(--white);
    border: 0.188em solid var(--light-gray);
    border-radius: 1.25em;
    padding: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.div-address-administrator {
    align-self: flex-start;
}

.div-address-administrator .div-address p {
    white-space: pre-wrap;
}