.container {
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    padding: 0.75rem 1rem;
    position: fixed; 
    bottom: 1rem; 
    right: 1rem; 
    z-index: 1000;
}

.labelTitleButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.3rem;
}

#buttonToast:hover svg {
    color: white;
}

#buttonToast svg {
    font-size: 1rem;
}
