{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/cards/member_carroussel_card.css' %}">
<link rel="stylesheet" href="{% static 'css/partials/cards/incoming_requests_carroussel_card.css' %}">

<div class="div-member-cards">

    <div class="member-card">

        <div class="div-img-profile-basic-informations">

            <img class="img-profile-incoming-request-card" src="{% static 'img/small-male-profile-picture.svg' %}" alt="Imagem do membro da república.">

            <div class="div-basic-informations-icon-gender">

                <div class="basic-informations">
                    <label class="minor-subtitle">Nome do usuário</label>
                    <p class="legend">Luana Caroliny</p>
                </div>

                <div class="tooltip-content" style="margin: 0;">

                    <a href="">
                        <img src="{% static 'img/gender/icon-gender-male.svg' %}" alt="Male gender icon" />
                    </a>

                    <span class="tooltip-text">masculino</span>

                </div>
            </div>

            <img class='img-icon-person' src="{% static 'img/icon-person-add.svg' %}" alt="Ícone de um boneco com um símbolo de somatória ao lado" />

        </div>

        <p class="common-text">(12) 982173929</p>    

        <p class="commmon-text desciption">Eu gosto de jogar bola e odeio sentir cheiro de cigarro. Faço faculdade de ADS e amo programar. Faço faculdade de ADS e amo programar.</p>

    </div>

    <div class="member-card">

        <div class="div-img-profile-basic-informations">

            <img class="img-profile-incoming-request-card" src="{% static 'img/small-male-profile-picture.svg' %}" alt="Imagem do membro da república.">

            <div class="div-basic-informations-icon-gender">

                <div class="basic-informations">
                    <label class="minor-subtitle">Nome do usuário</label>
                    <p class="legend">Luana Caroliny</p>
                </div>

                <div class="tooltip-content" style="margin: 0;">

                    <a href="">
                        <img src="{% static 'img/gender/icon-gender-male.svg' %}" alt="Male gender icon" />
                    </a>

                    <span class="tooltip-text">masculino</span>

                </div>
            </div>

            <img class='img-icon-person' src="{% static 'img/icon-person-add.svg' %}" alt="Ícone de um boneco com um símbolo de somatória ao lado" />

        </div>

        <p class="common-text">(12) 982173929</p>    

        <p class="commmon-text desciption">Eu gosto de jogar bola e odeio sentir cheiro de cigarro. Faço faculdade de ADS e amo programar. Faço faculdade de ADS e amo programar.</p>

    </div>

    <div class="member-card">

        <div class="div-img-profile-basic-informations">

            <img class="img-profile-incoming-request-card" src="{% static 'img/small-male-profile-picture.svg' %}" alt="Imagem do membro da república.">

            <div class="div-basic-informations-icon-gender">

                <div class="basic-informations">
                    <label class="minor-subtitle">Nome do usuário</label>
                    <p class="legend">Luana Caroliny</p>
                </div>

                <div class="tooltip-content" style="margin: 0;">

                    <a href="">
                        <img src="{% static 'img/gender/icon-gender-male.svg' %}" alt="Male gender icon" />
                    </a>

                    <span class="tooltip-text">masculino</span>

                </div>
            </div>

            <img class='img-icon-person' src="{% static 'img/icon-person-add.svg' %}" alt="Ícone de um boneco com um símbolo de somatória ao lado" />

        </div>

        <p class="common-text">(12) 982173929</p>    

        <p class="commmon-text desciption">Eu gosto de jogar bola e odeio sentir cheiro de cigarro. Faço faculdade de ADS e amo programar. Faço faculdade de ADS e amo programar.</p>

    </div>

</div>

{% include 'partials/pagination.html' %}