{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/cards/view_item_carroussel_card.css' %}">

<div class="div-payable-items">

    {% for payable_item in payable_items %}
    
        <div class="div-payable-item">

            <img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" />

            <div class="tooltip-content" style="margin: 0;">

                <a href="">
                    <img class="img-icon-info" src="{% static 'img/icon-info.svg' %}" alt="Ícone de informação" />
                </a>

                <span class="tooltip-text">Esse valor já é a simulação do preço caso você fizesse parte dessa república</span>

            </div>

            <div class="div-basic-informations">

                <h3 class="minor-subtitle text-label-account-name">Nome da conta</h3>
                <h4 class="legend text-account-name">{{payable_item.name}}</h4>
                <h4 class="legend orange-text text-account-value">Valor: R$ {{payable_item.value}}</h4>

            </div>

        </div>
    
    {% endfor %}

</div>

{% include 'partials/pagination.html' %}