{% load static %}

<link rel="stylesheet" href="{% static 'css/partials/cards/view_item_carroussel_card.css' %}">

<div class="div-payable-items">

    <div class="div-payable-item">

        <img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" />

        <div class="div-basic-informations">

            <h3 class="minor-subtitle text-label-account-name">Nome da conta</h3>
            <h4 class="legend text-account-name">Aluguel</h4>

            <h4 class="legend orange-text text-account-value">Valor: R$ 150,00</h4>

        </div>

    </div>

    <div class="div-payable-item">

        <img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" />

        <div class="div-basic-informations">

            <h3 class="minor-subtitle text-label-account-name">Nome da conta</h3>
            <h4 class="legend text-account-name">Aluguel</h4>

            <h4 class="legend orange-text text-account-value">Valor: R$ 150,00</h4>

        </div>

    </div>

    <div class="div-payable-item">

        <img class="img-item-card" src="{% static 'img/credit-card-picture.svg' %}" />

        <div class="div-basic-informations">

            <h3 class="minor-subtitle text-label-account-name">Nome da conta</h3>
            <h4 class="legend text-account-name">Aluguel</h4>

            <h4 class="legend orange-text text-account-value">Valor: R$ 150,00</h4>

        </div>

    </div>

</div>

{% include 'partials/pagination.html' %}